@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-color: #1c1b1c;
}

h1 {
	color: #cdcdcd;
}