@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');

body, html {
	background-image: url("/assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	font-family: 'Urbanist', sans-serif;
}

.main-wrapper {
	display: flex; 
	flex-direction: column;
	align-items: center;
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.countdown-wrapper {
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #1c1b1c;
	background-color: #f8f0e3aa;	
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 75%;
	border-radius: 20px;
	text-align: center;
}

.countdown-over {
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #1c1b1c;
	background-color: #f18868;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 75%;
	border-radius: 20px;
	text-align: center;
}

.elements{
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: center;
	margin-bottom: 1rem;
}

.c-element {
	display: flex;
	flex-direction: column;
	/* margin: 1rem; */
	width: 7rem;
	align-items: center;
	font-size: 72px;
	font-weight: 700;
}

.c-element span {
	font-size: 20px;
	font-weight: 400px;
}

button {
	border: none;
	font-size: 20px;
	padding: 20px;
	border-radius: 4px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	padding: 20px; 
	background-color: #f8f0e3;
	border-radius: 20px;
}

form {
	display: flex;
	flex-direction: column;
}

form button {
	background-color: #ffffff;
	border-radius: 10px;
}

form input {
	padding: 5px;
	border-style: none;
	border-radius: 10px;
}

::selection {
	color: #77674c;
}